


.Omina{
    width: 300px;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    display: inline-block;
    border: 1px solid black;
}


.rasm{
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.sarlovha{
    text-transform: uppercase;
    color: seagreen;
}

.olimjon{
    text-transform: uppercase;
    color: seagreen;
}

.button{
    background: white;
    border: none;
    padding: 10px;
    width: 200px;
    border-radius: 10px;
}